@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
.clips {
  height: 420px;
  width: 1220px;
  margin: 70px auto;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.clip-item {
  display: inline-block;
  width: 250px;
  height: 400px;
  margin: 0px 30px;
  vertical-align: middle;
  background-color: #f2d2ea;
  text-align: center;
  white-space: normal;
  overflow-wrap: break-word;
  border: 1px solid #3c3d3a;
  border-radius: 5px;
  font-size: 1rem;
  overflow: hidden;

  background-position: center 0px;
  background-size: 100% 45%;
  background-repeat: no-repeat;
}

.clip-item div {
  height: 225px;
  margin: 160px 0px 0px 10px;
  text-align: left;
}

.clips img {
  height: 40%;
  width: 90%;
}

.clips a {
  background: white;
  display: block;
  margin: 50px 10px 0px 0px;
  color: #060606;
  font-weight: 500;
  text-align: center;
}

.author-name {
  margin: 10px 0px;
  font-size: 1rem;
}

.description {
  font-size: 0.9rem;
  font-style: italic;
  font-weight: 300;
  line-height: 1.4;
}

.clips.active {
  cursor: grabbing;
}

.material-icons {
  margin-right: 15px;
  vertical-align: middle;
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = from 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
  .clips {
    width: 630px;
    margin: 50px auto;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles
  ##Screen = from 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
  .clips {
    width: 310px;
    margin: 30px auto;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles
  ##Screen = from 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
  .clips {
    width: 300px;
    margin: 10px auto;
  }
}
